<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="./images/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<form id="form1" class="form-horizontal">
			<h2>사용자 등록 및 수정</h2>
			<div class="form-group">
				<label>아이디:</label> <input type="text" class="form-control" name="id" id="id">
			</div>
			<div class="form-group">
				<label>이름:</label> <input type="text" class="form-control" name="name" id="name">
			</div>
			<div class="form-group">
				<label>패스워드:</label> <input type="text" class="form-control" name="password" id="password">
			</div>
			<div class="form-group">
				<label>역할:</label> <select class="form-control" name="role">
					<option value="Admin">관리자</option>
					<option value="User">사용자</option>
				</select>
			</div>
			<div class="btn-group">
				<input type="button" class="btn btn-primary" value="등록" id="btnInsert" />
				<input type="button" class="btn btn-primary" value="수정" id="btnUpdate" />
				<input type="button" class="btn btn-primary" value="초기화" id="btnInit" />
			</div>
		</form>
	</div>
	<hr />
	<div class="container">
		<h2>사용자 목록</h2>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">아이디</th>
					<th class="text-center">패스워드</th>
					<th class="text-center">이름</th>
					<th class="text-center">롤</th>
					<th class="text-center"></th>
				</tr>
			</thead>

			<tbody>
				<!-- <tr>
					<td class="text-center">user</td>
					<td class="text-center">1111</td>
					<td class="text-center">홍길동</td>
					<td class="text-center">User</td>
					<td class="text-center">
						<button class="btnUpd">조회</button>
						<button class="btnDel">삭제</button>
					</td>
				</tr> -->

			</tbody>
		</table>
	</div>
	<script>
		const tb = document.getElementsByTagName("table")[0];
		tb.addEventListener("click", function () {
			if (event.target.classList.contains("btnDel")) {
				userDelete(event.target);
			} else if (event.target.classList.contains("btnUpd")) {
				userSelect(event.target);
			}
		});
		// 등록버튼 이벤트 연결
		btnInsert.addEventListener("click", insert);
		// 수정버튼 이벤트 연결
		btnUpdate.addEventListener("click", userUpdate);

		// 수정 ajax 요청
		function userUpdate() {
			//등록과 동일 : post->put  prepend -> replace
			const ajax = new XMLHttpRequest(); //1. XMLHttpRequest 객체 생성
			const url = "http://localhost/myserver/users"; //2. REST API 서버 URL
			ajax.onload = function () { 
				let user = JSON.parse(ajax.response);
				let newTr = makeTr(user);
				let oldTr = document.querySelector('[data-id='+user.id+']')
				document.getElementsByTagName("tbody")[0].replaceChild(newTr,oldTr);
			};
			ajax.open("PUT", url); 
			ajax.setRequestHeader("Content-type", "application/json");
			let id = form1.id.value;
			let name = form1.name.value;
			let password = form1.password.value;
			let role = form1.role.value;
			let obj = {
				id,
				name,
				password,
				role
			}; //{id:id,name:name,password:password,role:role}
			ajax.send(JSON.stringify(obj)); 
		}
		// 단건조회ajax 요청
		function userSelect(tg) {

			const userid = tg.closest("tr").children[0].innerHTML;
			const url = "http://localhost/myserver/users/" + userid;
				
			fetch(url)
			.then(res=>res.json())
			.then(res=>{
				form1.id.value = res.id;
				form1.password.value = res.password;
				form1.name.value = res.name;
				form1.role.value = res.role;
			})
		}
		// 삭제 ajax 요청
		function userDelete(tg) {
			const userid = tg.closest("tr").children[0].innerHTML;
			const url = "http://localhost/myserver/users/" + userid; //2. REST API 서버 URL
			fetch(url ,{method: 'delete'})
			.then(res => res.json())
			.then(res => {
				document.querySelector('[data-id='+res.id+']').remove();
			})
		}
		// 등록 ajax 요청
		function insert() {
			const url = "http://localhost/myserver/users"; //2. REST API 서버 URL
			let id = form1.id.value;
			let name = form1.name.value;
			let password = form1.password.value;
			let role = form1.role.value;
			let obj = {id,name,password,role};

			fetch(url, {method:"post",
						headers: {"Content-type" : "application/json"},
						body: JSON.stringify(obj)
					})
			.then(res=>res.json())
			.then(res=>{
				document.getElementsByTagName("tbody")[0].prepend(makeTr(user));
			})
		}


		// 전체조회 ajax 요청 
		function list() {
			const url = "http://localhost/myserver/users"; //2. REST API 서버 URL

			fetch(url)
			.then(res => res.json())
			.then(res => {
				for (user of res) {
					document.getElementsByTagName("tbody")[0].append(makeTr(user));
				}
			})
			
		}
		list();

		function makeTr(user) {
			let tr = document.createElement("tr");
			tr.setAttribute("data-id", `${user.id}`);
			tr.innerHTML = `<td class="text-center">${user.id}</td>
					<td class="text-center">${user.password}</td>
					<td class="text-center">${user.name}</td>
					<td class="text-center">${user.role}</td>
					<td class="text-center">
						<button class="btnUpd">조회</button>
						<button class="btnDel">삭제</button>
						
					</td>`
			return tr;
		}
	</script>
</body>

</html>